<div id="addSongModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="container">
      <h4>Add Song To Playlist</h4>
      <form method="POST" action="/playlist/<%= playlist._id %>/addsong">
        <div class="input-field">
          <input name="title" id="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>

        <div class="input-field">
          <input name="artist" id="artist" type="text" class="validate">
          <label for="artist">Artist</label>
        </div>

        <div class="input-field">
          <input name="spotify" id="spotifyLink" type="url" class="validate">
          <label for="spotifyLink">Spotify Link</label>
        </div>

        <div class="input-field">
          <input name="youtube" id="youTubeLink" type="url" class="validate">
          <label for="youTubeLink">YouTube Link</label>
        </div>

        <input type="submit" class="waves-effect waves-light btn-large" value="Add" />
      </form>
    </div>
  </div>
</div>