    <!-- Footer -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consequatur?</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Follow us on social media!</h5>
                    <ul>
                        <p style='line-height: 30px'>
                            <i class="fab fa-twitter-square footer-icon"></i>Twitter
                        </p>
                        <p style='line-height: 30px'>
                            <i class="fab fa-instagram footer-icon"></i>Instagram
                        </p>
                        <p style='line-height: 30px'>
                            <i class="fab fa-youtube-square footer-icon"></i>YouTube
                        </p>
                        <p style='line-height: 30px'>
                            <i class="fab fa-facebook-square footer-icon"></i>Facebook
                        </p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../index.js"></script>
</body>

</html>