<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />

  <!-- Meta description -->
  <meta name="Description" content="Site for managing music playlists.">

  <!-- Theme color -->
  <meta name="theme-color" content="#009688" />

  <!-- Manifest -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- Fontawesome -->
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <title>LSTN</title>
</head>

<body>

  <!-- Header -->
  <header>
    <nav class="nav-border">
      <div class="nav-wrapper teal">
        <div class="container">

          <div class="row">
            <div class="col s2">
              <a href="/profile" class="brand-logo">
                <i class="large material-icons">library_music</i>Lstn</a>
              <a href="/profile" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
              </a>
            </div>

            <ul class="left hide-on-med-and-down">
            </ul>
            <ul class="right hide-on-med-and-down">
              <% if (typeof loggedInUserId != 'undefined') { %>
                <% if (typeof user != 'undefined' && user._id.toString() !== loggedInUserId) { %>
                  <li>
                    <a href="/profile">
                      <i class="material-icons left">face</i>Profile</a>
                  </li>
                  <% } %>
                    <li>
                      <a href="/logout">
                        <i class="material-icons left">highlight_off</i>Logout</a>
                    </li>
                    <% } else { %>
                      <li>
                        <a href="/register">
                          <i class="material-icons left">supervisor_account</i>Register</a>
                      </li>
                      <% } %>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li>
                <a href="/profile">
                  <i class="large material-icons">library_music</i>Logo</a>
              </li>
              <li>
                <div class="divider"></div>
              </li>

              <% if (typeof loggedInUserId != 'undefined') { %>
                <% if (typeof user != 'undefined' && user._id.toString() !== loggedInUserId) { %>
                  <li>
                    <a href="/profile">
                      <i class="material-icons left">face</i>Profile</a>
                  </li>
                  <% } %>
                    <li>
                      <a href="/logout">
                        <i class="material-icons left">highlight_off</i>Logout</a>
                    </li>
                    <% } else { %>
                      <li>
                        <a href="/register">
                          <i class="material-icons left">supervisor_account</i>Register</a>
                      </li>
                      <% } %>
            </ul>
          </div>
        </div>
    </nav>
  </header>