<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <!-- Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- Header -->
    <header>
        <nav class="nav-border">
            <div class="nav-wrapper teal">
                <div class="container">

                    <div class="row">
                        <div class="col s2">
                            <a href="/" class="brand-logo">
                                <i class="large material-icons">library_music</i>Lstn</a>
                            <a href="/" data-activates="mobile-demo" class="button-collapse">
                                <i class="material-icons">menu</i>
                            </a>
                        </div>

                        <ul class="left hide-on-med-and-down">
                            <li>
                                <a href="#">
                                    <i class="material-icons left">search</i>Search...</a>
                            </li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/profile">
                                    <i class="material-icons left">face</i>Profile</a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="material-icons left">highlight_off</i>Logout</a>
                            </li>
                        </ul>

                        <ul class="side-nav" id="mobile-demo">
                            <li>
                                <a href="/">
                                    <i class="large material-icons">library_music</i>Logo</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="material-icons">search</i>Search...</a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <i class="material-icons left">face</i>Profile</a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="material-icons left">highlight_off</i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>