<% include header %>
  <!-- Playlist cards -->
  <main>
    <div class="container">
      <div class="row">
        <% playlists.forEach(card => { %>
          <% include playListcard %>
            <% }); %>
      </div>
    </div>
  </main>
  <% include footer %>