<div id="newPlaylistModal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <div class="container">
          <h4>New Playlist</h4>
          <form method="POST">
              <div action="/playlist/add" class="input-field">
                <input placeholder="Name" id="first_name" type="text" class="validate">
                <label for="first_name">Playlist Name</label>
              </div>

              <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea1">Description</label>
              </div>

              <div class="input-field">
                <div id="textarea2" class="chips"></div>
                <label for="textarea2">Tags</label>
              </div>

              <input type="submit" class="waves-effect waves-light btn-large" value="Create"/>
          </form>
      </div>
  </div>
</div>