<div class="col s12 m6 l6">
  <div class="card horizontal">
    <div class="card-image">
      <div class="parent">
        <img class="profile-card-img" src="../images/400.jpg" alt="Profile Picture">
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">
          Username:
          <%= profile.username %>
        </span>
      </div>
      <div class="card-action">
        <a href="/profile/<%= profile._id.toString() %>">Visit Profile</a>
      </div>
    </div>
  </div>
</div>