<div class="col s12 m6 l6">
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/125/125">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p><%= profile.name %></p>
            </div>
            <div class="card-action">
                <a href="#">Visit Profile</a>
            </div>
        </div>
    </div>
</div>