<li class="collection-item avatar">
    <i class="material-icons circle red">play_arrow</i>
        <span class="title"><%= song.title %></span>
    <p><%= song.artist %>
        <br> <%= song.length %>
    </p>
    <a href="#!" class="secondary-content black-text">
        <img src="../icons/spotify.png" class="play-icon">Listen on Spotify
        <img src="../icons/youtube-play.png" class="play-icon">Listen on YouTube
        <i class="material-icons teal-text">delete</i>
    </a>
</li>