.footer-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.play-icon {
  width: 2rem;
  height: 2rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* .card-image img {
  height: 200px;
} */

.parent {
  height: 200px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

a {
  color: white;
}
